<dl style="clear: left;">
		<dt><label for="Field1">{L_CUSTOM_1}{L_COLON}</label></dt>
		<dd><input type="text" name="Field1" id="Field1" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->120<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{Field1}{DRAFT_Field1}" class="inputbox autowidth" /></dd>
		<dt><label for="Field2">{L_CUSTOM_2}{L_COLON}</label></dt>
		<dd><input type="text" name="Field2" id="Field2" size="45" maxlength="<!-- IF S_NEW_MESSAGE -->120<!-- ELSE -->124<!-- ENDIF -->" tabindex="2" value="{Field2}{DRAFT_Field2}" class="inputbox autowidth" /></dd>
</dl>